<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new floor</title>
    <link rel="stylesheet" href="{{ static('assets/css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ static('assets/css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ static('assets/css/app.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <style>
      #holder { border: 10px dashed #ccc; width: 100%; min-height: 400px; margin: 20px auto;}
      #holder.hover { border: 10px dashed #0c0; }
      #holder img { display: block; margin: 10px auto; }
      #holder p { margin: 10px; font-size: 14px; }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="main-container-2">
      <div class="small-8 columns">
        <h1 class="inline">Creating new floor</h1> <input class="title-input" type="text" placeholder="(label)"/>
        <p>Drag an image onto the canvas and begin drawing the zones.</p>
      </div>
      <div class="small-4 columns">
        <button id="create-save" class="large success expand create-btn">Create</button>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div id="holder"></div>
      </div>
    </div>
    <script src="{{ static('js/create.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
    var cp = new CreatorPage($('#holder'));
    </script>

  </body>
</html>
