<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floor not found</title>
    <link rel="stylesheet" href="{{ static('assets/css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ static('assets/css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ static('assets/css/app.css') }}" />
  </head>
  <body>
    <div class="row">
    <div class="main-container">
      <div class="small-12 columns">
        <h1>Sorry, we couldn't find the floor :(</h1>
      </div>
    </div>
    </div>
  </body>
</html>
